data/flows.json
[{"id":"e9580249.97c4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6d73ae17.f0d61","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7670971e.869268","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"38b591d9.561bf6","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"c1daa9fd.72b86","type":"mqtt in","z":"e9580249.97c4","name":"","topic":"sen/sen1","qos":"0","datatype":"auto","broker":"38b591d9.561bf6","x":180,"y":400,"wires":[["cbb39c45.c74688"]]},{"id":"732f28b3.1991b8","type":"inject","z":"e9580249.97c4","name":"","topic":"sen/sen1","payload":"Open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["2017258b.1be922"]]},{"id":"2017258b.1be922","type":"mqtt out","z":"e9580249.97c4","name":"","topic":"sen/#","qos":"0","retain":"","broker":"38b591d9.561bf6","x":370,"y":260,"wires":[]},{"id":"cbb39c45.c74688","type":"debug","z":"e9580249.97c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":420,"wires":[]},{"id":"12b061d.b1c081e","type":"mosca in","z":"e9580249.97c4","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"mongodb://127.0.0.1:21707/mqtt","x":320,"y":160,"wires":[[]]},{"id":"c6a99f3b.336e9","type":"mqtt in","z":"6d73ae17.f0d61","name":"","topic":"testismqtt","qos":"0","datatype":"auto","broker":"38b591d9.561bf6","x":300,"y":220,"wires":[["6a0a3f2c.c66a98"]]},{"id":"6a0a3f2c.c66a98","type":"debug","z":"6d73ae17.f0d61","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":220,"wires":[]}]